# Preprocessing: procedures_icd Table

In [1]:
import os
os.chdir('../../')
from utils.hosp_preprocess_util import *
import pickle

### Getting the Procedures table into long format with timedelta

In [2]:
# Use custom function to get timedelta according to the procedure's chartdate
proc = timestamp_cohort_data("./mimic-iv-1.0/hosp/procedures_icd.csv.gz", './data/cohort.gzip', 'chartdate', 'base_anchor_year', dtypes=None, usecols=None)
proc.head()

,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version,admit_year,label,base_anchor_year,max_year_group,min_year_group,anchor_year,timedelta_years
516275,10000032,25742920,1,2180-08-06,5491,9,2180,0,2174,2016,2014,2180,6.0
516273,10000032,22595853,1,2180-05-07,5491,9,2180,0,2174,2016,2014,2180,6.0
516274,10000032,22841357,1,2180-06-27,5491,9,2180,0,2174,2016,2014,2180,6.0
473014,10000280,25852320,1,2151-03-18,8938,9,2151,0,2151,2010,2008,2151,0.0
248724,10000560,28979390,1,2189-10-16,5551,9,2189,0,2189,2010,2008,2189,0.0

In [3]:
# Print unique counts and value_counts
print("# Unique ICD9 Procedures:  ", proc.loc[proc.icd_version == 9].icd_code.dropna().nunique())
print("# Unique ICD10 Procedures: ",proc.loc[proc.icd_version == 10].icd_code.dropna().nunique())

print("\nValue counts of each ICD version:\n", proc.icd_version.value_counts())

# Unique ICD9 Procedures:   2549
# Unique ICD10 Procedures:  4932

Value counts of each ICD version:
 9     466147
10     44906
Name: icd_version, dtype: int64

### Saving the long-format dataset

In [4]:
# Save two versions of procedures dataset; one with all procedure codes (ICD9 & 10), and then one with only ICD10 codes
proc[['subject_id', 'hadm_id', 'icd_code', 'chartdate']].dropna().to_csv("./data/long_format/proc/preproc_proc.csv.gz", compression='gzip', index=False)
proc.loc[proc.icd_version == 10][['subject_id', 'hadm_id', 'icd_code', 'chartdate']].dropna().to_csv("./data/long_format/proc/preproc_proc_icd10.csv.gz", compression='gzip', index=False)

In [7]:
pd.read_pickle("./data/long_format/proc/long_proc_icd10_p4.gzip", compression='gzip')

        subject_id   hadm_id icd_code  timedelta_days
374582    10001401  21544441  0UT9FZZ            2345
374583    10001401  21544441  07BC4ZX            2345
374584    10001401  21544441  0TTB4ZZ            2345
374585    10001401  21544441  8E0W4CZ            2345
374586    10001401  21544441  0T1807C            2345