In [1]:
import pandas as pd

In [10]:
data=pd.read_csv('data/day_intervals/cohort/cohort30day.csv.gz', compression='gzip', header=0, index_col=None)

In [11]:
data.head()

             admittime     hadm_id  min_valid_year  subject_id  label
0  2180-06-26 18:27:00  22841357.0          2183.0  10000032.0      1
1  2180-07-23 12:35:00  29079034.0          2183.0  10000032.0      1
2  2146-12-05 19:07:00  20032235.0          2155.0  10000826.0      1
3  2146-12-18 17:39:00  21086876.0          2155.0  10000826.0      1
4  2124-05-14 17:25:00  29957930.0          2133.0  10000883.0      1

In [13]:
data['subject_id'].nunique()

189743

In [25]:
data[data['label']==1]['hadm_id'].nunique()

81175

In [26]:
data[data['label']==0]['hadm_id'].nunique()

367636

In [14]:
data['hadm_id'].nunique()

448811

In [4]:
data=pd.read_csv('data/long_format/diag/long_diag_icd10_roots.csv.gz', compression='gzip', header=0, index_col=None)

In [8]:
cond=pd.read_csv('data/long_format/diag/norm_diag_icd10_roots.csv.gz', compression='gzip', header=0, index_col=None)

In [9]:
cond.head()

   subject_id   hadm_id root  timedelta
0    15734973  20475282  D58          0
1    15734973  20012083  O44       1798
2    15734973  20012083  D58       1798
3    11442057  21518990  O61         22
4    11442057  21518990  O10         22

In [12]:
cond=cond[cond['hadm_id'].isin(data['hadm_id'])]

In [15]:
cond['subject_id'].nunique()

139536

In [16]:
cond['hadm_id'].nunique()

297274

In [17]:
meds=pd.read_csv('data/long_format/meds/norm_med_nonproprietaryname.csv.gz', compression='gzip', header=0, index_col=None)

In [18]:
meds.head()

   subject_id   hadm_id      nonproprietaryname  timedelta
0    10000032  22595853          spironolactone         44
1    10000032  29079034  tramadol hydrochloride        122
2    10000032  29079034         docusate sodium        122
3    10000032  29079034         docusate sodium        122
4    10000032  25742920  fluticasone propionate        135

In [36]:
meds=meds[meds['hadm_id'].isin(data['hadm_id'])]

In [38]:
meds['subject_id'].nunique()

124082

In [39]:
meds['hadm_id'].nunique()

256171

In [19]:
proc=pd.read_csv('data/long_format/proc/norm_proc_icd10.csv.gz', compression='gzip', header=0, index_col=None)

In [20]:
proc.head()

   subject_id   hadm_id icd_code  timedelta
0    10001401  21544441  0UT9FZZ         52
1    10001401  21544441  07BC4ZX         52
2    10001401  21544441  0TTB4ZZ         52
3    10001401  21544441  8E0W4CZ         52
4    10001401  21544441  0T1807C         52

In [37]:
proc=proc[proc['hadm_id'].isin(data['hadm_id'])]

In [40]:
proc['subject_id'].nunique()

10810

In [41]:
proc['hadm_id'].nunique()

13555

In [21]:
labs=pd.read_csv('data/long_format/labs/norm_labs_units_cleaned.csv.gz', compression='gzip', header=0, index_col=None)

In [33]:
labs.head()

    subject_id     hadm_id  valuenum  timedelta  valuenum.1
0     10000032  22841357.0      15.7         95        15.7
20    10000032  22841357.0      99.0         95        99.0
21    10000032  22841357.0     137.0         95       137.0
23    10000032  22841357.0       3.6         95         3.6
24    10000032  22841357.0       6.6         95         6.6

In [34]:
labs.shape

(31543774, 5)

In [32]:
labs=labs.dropna()

In [29]:
labs.isna().sum()

subject_id           0
hadm_id       21636266
valuenum             0
timedelta            0
valuenum.1           0
dtype: int64

In [31]:
21636266/53180040

0.4068493743141224

In [35]:
labs=labs[labs['hadm_id'].isin(data['hadm_id'])]

In [42]:
labs['subject_id'].nunique()

114824

In [43]:
labs['hadm_id'].nunique()

239156