In [1]:
import pandas as pd

In [10]:
import numpy as np
from sklearn.model_selection import KFold
X = np.array([[1, 2], [3, 4], [1, 2], [3, 4], [23, 1]])
y = np.array([1, 2, 3, 4, 5])
kf = KFold(n_splits=5)
kf.get_n_splits(X)
print(kf)

for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

KFold(n_splits=5, random_state=None, shuffle=False)
TRAIN: [1 2 3 4] TEST: [0]
TRAIN: [0 2 3 4] TEST: [1]
TRAIN: [0 1 3 4] TEST: [2]
TRAIN: [0 1 2 4] TEST: [3]
TRAIN: [0 1 2 3] TEST: [4]

In [2]:
data=pd.read_csv('temp.csv',header=[0,1])

In [14]:
data.head()

,225158,229297,220949,225152,225943,225942,225828,221319,225944,222168,...,226617,226591,226609,226607,226605,226595,226570,226618,226623,226557
0,138.333337,0,-0.0,-0.0,68.904595,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,138.333337,0,-0.0,-0.0,68.904595,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,138.333337,0,-0.0,-0.0,68.904595,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,138.333337,0,-0.0,-0.0,68.904595,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,138.333337,0,-0.0,-0.0,68.904595,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
keys=data.columns.levels[0]

In [8]:
keys[0]

'MEDS'

In [13]:
data.columns=data.columns.droplevel(0)

In [15]:
data=data['MEDS']

In [17]:
data=data.iloc[:,0:5]

In [20]:
from sklearn.datasets import load_breast_cancer
X, y = load_iris(return_X_y=True)

ImportError: cannot import name 'parse_version' from 'sklearn.utils.fixes' (C:\Users\mehak\Anaconda3\envs\DSRA\lib\site-packages\sklearn\utils\fixes.py)